body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.header-logo {
    width: 40px;  /* Ajuster la taille de l'image */
    height: auto;
    margin-right: 15px;  /* Espacement entre l'image et le titre */
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

#artist-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;  /* Ajustez la hauteur selon vos préférences */
    background-color: #eaeaea; /* Couleur de fond douce */
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

#artist-presentation p {
    margin: 10px 0;
    font-size: 1.2em;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

#gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

#gallery img:hover {
    transform: scale(1.05);
}

p big {
    font-size: 1.5em;
    font-weight: bold;
}