body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artwork {
    margin: 10px;
    border: 1px solid #ec0a0a;
    background-color: white;
    width: 200px;
    text-align: center;
}
